


.navbar.navbar-default.navbar-inverse.navbar-fixed-top{
  background-color: #2C2D2F;
  height: 50px;
  position: fixed;
}
.navbar-brand {

  padding-top: 6px;
  padding-left: 20px;
}
.nav.navbar-nav.navbar-right li a{
  color: #FFFFFF;
}

.campPic2{
  margin-left: 50px;
  margin-right: 10px;
}

.campPic3{
  float: left;
}

.campPic4{
  float: left;
  margin-bottom: 130px;
}

.campBotPad{
  padding-bottom: 35px;
  font-family: 'Bree Serif', serif;
}

.makeRed{
  color: red;
}

.linkcol{
  color: #DCDCDC;
}
@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }

  .timeline ul li div {
    width: calc(100vw - 91px);
  }

  .timeline ul li:nth-child(even) div {
    left: 45px;
  }

  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #F45B69 transparent transparent;
  }
}

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px; /*250+45-6*/
  }
}

#novidmarge{
  padding-right: 0px;
  margin-right: 0px;
}

.setHeight{

 overflow: hidden;
  white-space: nowrap;

 text-overflow: ellipsis;

}

.hover{

}
.notop{
  margin-top: 0px;
}
.nobottom{
  margin-bottom: 0px;
}
.addLeftPad{
  background-color: #87A1A4;
  padding-left: 50px;
  margin-left: 150px;
  margin-top: 0px;

  padding-bottom: 140px;
  margin-bottom: 60px;

}
.concontainer{
  background-color: #d9e1e2;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 0px;

}
.greencolor{
  color:#4F7276;
  font-size: 15px;
  padding-left: 20px;
  padding-top: 0f0px;
}
.greencolor2{
  color:#4F7276;
  font-size: 15px;
  padding-top: 20px;

}


.nav.navbar-nav li a{
  color: #FFFFFF;
}

.jumbotron{
  background-color: #d9e1e2;
  margin-bottom: 0px;
}

.jumbotron1{
  background-color: #d9e1e2;
  margin-bottom: 0px;
}




.leftstaff{
  border-right-color:  #454E54;
  border-right-width: 4px;
  border-right-style: solid;
  padding-right: 15px;

}

.centerstaff{
  border-right-color:  #454E54;
  border-right-width: 4px;
  border-right-style: solid;
  padding-right: 15px;

}
.bottompad{
  padding-bottom: 30px;
}
.toppad{
  padding-top: 20px;
}
.fullcent{
  padding-left: 7%;
  padding-right: 7%;

}

#impfont{
  font-size: 18px;
}
.horline{
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #2C2D2F;
  margin-left: 40%; margin-right: 40%;
  margin-top: 50px; : 0px;


}
.aboutimg1{
  margin-left: 40px;

}

#staffcat {
font-size: 40px;
}
.columnspacing{
  padding-top: 300px;
}
.welcomeimage{
    margin-left: 150px;
}
.reservepad{
  padding-top: 30px;
}
.makeCent{
  text-align: center
}

.altright{
  text-align: right;
  padding-right: 50px;
}
.welcomepadright{
  padding-right: 50px;
}
.welcomepadleft{
  padding-left: 100px;
}
#reg{
margin-bottom: 50px;
}


.sonbody{

   background: url("shaypic.jpg")  top center fixed;
   background-size: cover;
   overflow: auto;
   width: 100%;
}
.smalltop{
  padding-top: 10px;
}



.atitle{
  padding-top: 165px;
  padding-bottom: 250px;
  font-size: 70px;
  letter-spacing: 6px;
  font-kerning: none;
  font-family: 'Raleway', sans-serif;

  color: white;
  font-weight: 1000;
}
.bigger{
  font-size: 30px;
  width: 100%;
  padding-bottom: 15px;

}
.background-tint {
  background-color: rgba(0,0,0,.5); // Tint color
  background-blend-mode: multiply;
}
.alummess{
  padding-top: 65px;
  font-size: 70px;
  letter-spacing: 7px;


}

.staffmess{
  padding-top: 65px;
  font-size: 70px;
  letter-spacing: .1px;
  font-kerning: none;
}
.histmain3{
  font-size: 70px;
  letter-spacing: 7px;
  font-family: 'Raleway', sans-serif;
  font-weight: 1000;
  padding-bottom: 40px;

}

.histmess{
  padding-top: 125px;
  font-size: 70px;
  letter-spacing: 7px;
  color: white;
  padding-bottom: 280px;
  margin-top: 0px;
  margin-bottom: 0px;

}

.histmess2{

  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
  letter-spacing: 2px;
  color: white;
  padding-bottom: 150px;
  margin-top: 0px;
  margin-bottom: 0px;

}

.alummess2{
  padding-top: 390px;
  padding-bottom: 100px;
  font-size:50px;
  letter-spacing: 7px;

}

.staffmess2{

  padding-bottom: 500px;
}
.pricing{
  font-family: 'Raleway', sans-serif;
  padding-top: 45px;
  padding-bottom: 60px;
  font-weight: 1000;
  font-size: 70px;
  letter-spacing: 7px;

}

.campsub{
  font-family: 'Raleway', sans-serif;
  font-weight: 1000;
  font-size: 34px;
  letter-spacing: 7px;
  padding-left: 25px;
  padding-bottom: 0px;
  padding-top: 60px;
  margin-top: 0px;
}
.campsub2{
  font-family: 'Raleway', sans-serif;
  font-weight: 1000;
  font-size: 34px;
  letter-spacing: 7px;
  padding-left: 124px;
  padding-bottom: 0px;
  padding-top: 50px;
  margin-top: 0px;

}
.campsub4{
  font-family: 'Raleway', sans-serif;
  font-weight: 1000;
  font-size: 34px;
  letter-spacing: 7px;
  padding-left: 124px;
  padding-bottom: 0px;
  padding-top: 150px;
  margin-top: 0px;

}
.campsubtext{
  padding-left: 25px;
  padding-top: 10px;
  font-size: 17px;
  padding-right: 100px;
}
.campsubtext2{
  padding-left: 120px;
  padding-top: 10px;
  font-size: 16px;
  padding-right: 30px;
}
.campsubtext4{
  padding-left: 120px;
  padding-top: 10px;
  font-size: 18px;
  padding-right: 30px;
}
.topm{
  margin-top: 120px;
}
.campsubtext3{
  padding-left: 25px;
  padding-top: 170px;
  font-size: 17px;
  padding-right: 100px;
}
.campmain{

   background: url("campsmain.jpg")  top center fixed;
   background-size: cover;
   overflow: auto;
   font-family: 'Raleway', sans-serif;
   font-weight: 1000;


   width: 100%;
}

.white{
  color: white;
  font-size: 15px;
}


.whitebig{
  font-family: 'Raleway', sans-serif;
  letter-spacing: 6px;
  color: white;
  text-align: left;
  padding-top: 65px;

}

.biggreen{
    color:#4F7276;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 6px;
    padding-left: 20px;
    text-align: left;
    padding-top: 40px;
    padding-bottom: 0px;0
    margin-bottom: 0px;

}
.campmess{
  padding-top: 100px;
  font-size: 70px;
  letter-spacing: 6px;
  padding-bottom: 350px;
}
.camptitle1
{
  letter-spacing: 10px;
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 1000;
  padding-top: 15px;
  padding-bottom: 0;
  margin-bottom: 0px;
}

.conmess{
  padding-top: 100px;
  font-size: 70px;
  letter-spacing: 6px;
  padding-bottom: 350px;
}

.contactmain2{

   background: url("kenna2.jpg")  top center fixed;
   background-size: cover;
   overflow: auto;
   font-family: 'Raleway', sans-serif;
   font-weight: 1000;
   margin-bottom: 0px;
   padding-bottom: 0px;
   width: 100%;
}


.aboutmain{

   background: url("aboutwave.jpg")  top center fixed;
   background-size: cover;
   overflow: auto;
   font-family: 'Raleway', sans-serif;
   font-weight: 1000;

   width: 100%;
}
.aboutmaininner{
  background: rgba(127, 127, 127, 0.3);
  background-image: radial-gradient(black 33%, transparent 33%);
  background-size: 2px 2px;
  height: 100%;
  width: 100%;

}


.aboutmain::before{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 220px;
}
.histmain{

   background: url("histmain2.jpg")  top center fixed;
   background-size: cover;
   overflow: auto;
   font-family: 'Raleway', sans-serif;
   font-weight: 1000;
   padding-top: 50px;


   width: 100%;
}


.staffmain{

   background: url("cover4.jpg")  top center fixed;
   background-size: cover;
   overflow: auto;
   font-family: 'Raleway', sans-serif;
   font-weight: 1000;

   width: 100%;
}

.alummain{

   background: url("shasta1.jpg")  top center fixed;
   background-size: cover;
   overflow: auto;
   font-family: 'Raleway', sans-serif;
   font-weight: 1000;
   letter-spacing: 7px;

   width: 100%;
}

.sonshinetitle{
  font-size: 120px;
  color: #2C2D2F;

  font-family: 'Raleway', sans-serif;
  font-weight: 1000;

  padding-left: 120px;
  padding-top: 70px;
}
.sonshinetitle2{
  font-size: 30px;
  color: #2C2D2F;
  padding-left: 120px;
  padding-bottom: 330px;
  font-family: 'Raleway',sans-serif;
  font-weight: 1000;
  letter-spacing: 8px;
  margin-bottom: 0px;
}

.evenpad{
  padding-left: 80px;
  padding-right: 80px;

}
.botmarg{
  padding-bottom: 400px;
}
.collapse{
text-align: right;
background-color: #2C2D2F;
color: white;
width: 200px;
margin-left: 500px;
padding-right: 400px;
}
.missionsize{
  font-size: 50px;
}
.nomarg{
  margin-top: 0px;
  margin-bottom: 0px;
}
.nomarge{
  margin-right: 0px;
  padding-right: 0px;
}
.welcomemess{
  padding-top: 60px;
  font-family: 'Raleway',sans-serif;
  padding-bottom: 20px;
  font-size: 50px;
  spacing: 5px;
}
.welcomemess2{
  padding-bottom: 70px;

  font-family: 'Raleway',sans-serif;
  opacity: 1.0;
  line-height: 40px;
  margin-bottom: 200px;
}




.fa{
  padding: 20px;
     font-size: 55px;
     width: 70px;
       text-decoration: none;
}
.fa-facebook{
  padding-left: 43%;
  padding-right: 80px;
}
.fa{
  padding-top: 40px;
}
.bigPad{
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 80px;
}
.fa, .fa:hover, .fa:active, .fa:visited, .fa:focus {
    text-decoration:none;
}

.fa:visited, .fa:active, {
   color: #454E54;
}
.map2{
  margin-top: 14px;
}

.addLeftPad2{
  text-align: center;
  display: block;
  margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.makeLeft{
  text-align: left;
}
.dir{
  padding-top: 30px;
  font-size: 50px;
  letter-spacing: 6px;
  font-kerning: none;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 0px;
  margin-bottom: 0px;


}
.eb{
  padding-bottom: 35px;
}

.botpadbig{
  padding-bottom: 220px;
}

.et{
  padding-top: 35px;
}
.row {
    display: flex;
}

.column {
    flex: 50%;
}

.columncon {
    flex: 50%;
    padding-top: 0px;
}

.map{
letter-spacing: 4px;
  padding-top: 80px;
}
.padleft{
  padding-left: 40px;
}

.darker{
  background-color: #BEBEBE;
  margin-bottom: 0px;
}

.nopad{
  padding-bottom:  0px;
  margin-bottom: 0px;
  padding-top:  0px;
  padding-left: 20px;
}



}
.smallText{
    font-size: 6px;

}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;

}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  /*
  background: #5EA1E5;
  color: #2C2D2F;
  */
  background: #707070;
  color: #DCDCDC
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;

}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #707070 transparent transparent;
}
.bpic{

  width: 100%;

  background-size: cover;
  position: relative;
}
.top-right{
  position: absolute;
  top: 50px;
  text-align: center;
  width: 100%;
  left: 0px;
  font-size: 100px;
  color: #2C2D2F;
  font-family: 'Raleway', sans-serif;
  font-weight: 1000;
}
.top-cent{
  position: absolute;
  top: 180px;
  text-align:center;
  padding-left: 100px;
  padding-right: 100px;
  line-height: 40px;

  font-size: 30px;
  color: #2C2D2F;
  font-family: 'Raleway', sans-serif;


}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #707070;
}

.timeline ul li::after {
  background: #fff;
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #404040;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px,0,0);
}
.welcomecent{
  background-color: #d9e1e2;

  margin-bottom: 0px;

}
.contactmain{
  background-color: #3E4357;

  margin-bottom: 0px;
}
.sonmin{
  padding-top: 80px;
  font-size: 20px;
  padding-left: 100px;
  letter-spacing: 8px;
  font-family: 'Raleway', sans-serif;
  color: #B1B2B7;
}
.conmain{
  color: #B1B2B7;
  margin-top: 0px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 8px;
  padding-top: 20px;
}
.conpad{
  padding-top: 50px;
}
.conpad2{
  padding-bottom: 50px;
}

.form-group{
  width: 500px;
  padding-left: 100px;
  padding-right: 0px;
  margin-right: 0px;

}
.sonadd{
  padding-left: 100px;
  color: white;
  font-size: 18px;
}
.trans{
  background-color: #d9e1e2;
  background-color: rgba(217,225,226,.7);
}

.trans2{
  background-color: rgba(217,225,226,.2);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px,0,0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.item{
  padding-left: 115px;
}

.overlay {
  color: White;
  position:absolute;
  z-index:12;
  top:70%;
  left:0;
  width:100%;
  text-align:center;
  font-size: 60px;
  font-family: 'Bree Serif', serif;
}

.carousel-indicators li{

  width: 30px;
  height: 4px;
  border-radius: 0;

}



.carousel-indicators li.active{

  width: 30px;
  height: 5px;
  border-radius: 0;
  padding-top: 0px;
}

.overlay2{
  color: White;
  position:absolute;
  z-index:12;
  top:80%;
  left:0;
  width:100%;
  text-align:center;
  font-size: 40px;
  font-family: 'Bree Serif', serif;

}

.topspace{
  padding-top: 60px;
}


/*

colors:
Outer space: color: #454E54;
UN blue: color: #5EA1E5;
GAINSBRO: color: D9E1E2;
WHITE: color: #FFFFFF;
CORN SILK color: #FFF4E0;





*/
