


.navbar.navbar-default.navbar-inverse.navbar-fixed-top{
  background-color: #454E54;
  height: 50px;
  position: fixed;
}
.navbar-brand {

  padding-top: 6px;
  padding-left: 20px;
}
.nav.navbar-nav.navbar-right li a{
  color: #5EA1E5;
}

.nav.navbar-nav li a{
  color: #5EA1E5;
}

.jumbotron{
  background-color: #d9e1e2;
  margin-bottom: 0px;
}

.text{
  /*width: 60%
*/
}

.makeCent{
  text-align: center
}

.collapse{
text-align: right;
background-color: #454E54;
color: white;

width: 200px;
margin-left: 500px;
padding-right: 400px;

}


.fa{
  padding: 20px;
     font-size: 30px;
     width: 50px;
       text-decoration: none;
}
.fa-facebook{
  padding-left: 46%;
}

.fa, .fa:hover, .fa:active, .fa:visited, .fa:focus {
    text-decoration:none;
}

.fa:visited, .fa:active, {
   color: #454E54;
}
.map2{
  margin-top: 14px;
}

.makeLeft{
  text-align: left;
}

.contactpad{
  padding-top: 40px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.map{

  padding-top: 80px;
}
.padleft{
  padding-left: 40px;
}

.nopad{
  padding-bottom: = 0px;
  margin-bottom: 0px;
  padding-top: = 0px;
  padding-left: 20px;


}

.smallText{
    font-size: 12px;

}

.item{
  padding-left: 110px;
}

.overlay {
  color: white;
  position:absolute;
  z-index:12;
  top:50%;
  left:0;
  width:100%;
  text-align:center;
}


/*

colors:
Outer space: color: #454E54;
UN blue: color: #5EA1E5;
GAINSBRO: color: D9E1E2;
WHITE: color: #FFFFFF;
CORN SILK color: #FFF4E0;





*/
