


.navbar.navbar-default.navbar-inverse.navbar-fixed-top{
  background-color: #454E54;
  height: 50px;
  position: fixed;
}
.navbar-brand {

  padding-top: 7px;
}
.nav.navbar-nav.navbar-right li a{
  color: #5EA1E5;
}

.nav.navbar-nav li a{
  color: #5EA1E5;
}

.jumbotron{
  background-color: #d9e1e2
}

.text{
  width: 60%
}

.makeCent{
  text-align: center
}

/*


colors:
Outer space: #454E54
UN blue: #5EA1E5
GAINSBRO: D9E1E2
WHITE: #FFFFFF
CORN SILK #FFF4E0





*/
